In [2]:
# move to project root
%cd ..
%pwd

/Users/heste/workspace/soccernet/sn-script

'/Users/heste/workspace/soccernet/sn-script'

In [3]:
import os

import pandas as pd
import numpy as np
from dataclasses import dataclass
from pathlib import Path

In [4]:
@dataclass
class Config:
    csv_path = Path('database/comments/500game_whisper_spans_denoised.csv')

In [5]:
span_df = pd.read_csv(Config.csv_path)

In [6]:
span_df.columns

Index(['id', 'game', 'half', 'seek', 'start', 'end', 'text', 'tokens',
       'temperature', 'avg_logprob', 'compression_ratio', 'no_speech_prob'],
      dtype='object')

In [8]:
# 並べかえ
span_df = span_df.sort_values(by=['game', 'half', 'start'])

In [9]:
# 沈黙時間の平均を算出
span_df['prev_end'] = span_df['end'].shift(1)
span_df['silence'] = (span_df['start'] - span_df['prev_end'])
span_df.loc[span_df['silence'] < 0, 'silence'] = None

silence_mean = span_df['silence'].mean(skipna=True)
print(f"{silence_mean=}")

silence_mean=1.405593816317928

In [10]:
target_game = "SoccerNet/england_epl/2015-2016/2015-08-29 - 17-00 Chelsea 1 - 2 Crystal Palace"
# span_df.loc[
#     span_df['game'] == target_game,
#     ["game", "half", "start", "end", "text"]
# ].head(20)

span_df.loc[
    span_df['game'] == target_game,
    [ "start", "end"]
].head(20)

        start   end
109881    0.0   4.0
109882    4.0   8.0
109883    9.0  14.0
109884   14.0  20.0
109885   24.0  25.0
109886   25.0  30.0
109887   31.0  35.0
109888   36.0  39.0
109889   39.0  42.0
109890   42.0  47.0
109891   47.0  51.0
109892   51.0  56.0
109893   57.0  58.0
109894   61.0  62.0
109895   63.0  67.0
109896   67.0  71.0
109897   72.0  74.0
109898   74.0  80.0
109899   84.0  85.0
109900   86.0  87.0