In [1]:
import pandas as pd

# Load the uploaded CSV file
file_path = "/Users/heste/Downloads/cost-2023-12-01-2024-01-01.csv"
data = pd.read_csv(file_path)

# Check the first few rows of the dataframe to understand its structure and identify the timestamp column
data.head()

,timestamp,currency,GPT-4 Turbo,GPT-4,GPT-3.5 Turbo,Assistants API,Fine-tuning models,Embedding models,Base models,Image models,Audio models
0,1701388800,usd,0.000,0,0.0000,0,0,0,0,0,0
1,1701475200,usd,0.000,0,0.0000,0,0,0,0,0,0
2,1701561600,usd,0.000,0,0.0000,0,0,0,0,0,0
3,1701648000,usd,114.331,0,11.8495,0,0,0,0,0,0
4,1701734400,usd,0.000,0,0.0000,0,0,0,0,0,0

In [2]:
data["timestamp_jp"] = (
    pd.to_datetime(data["timestamp"], unit="s")
    .dt.tz_localize("UTC")
    .dt.tz_convert("Asia/Tokyo")
    .dt.strftime("%Y/%m/%d %H:%M:%S")
)

In [3]:
data.to_csv("/Users/heste/Downloads/cost-2023-12-01-2024-01-01-jp.csv", index=False, encoding="utf-8-sig")